<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Financial Transaction Fraud Detection</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Predict the Financial Transaction Fraud Based on JPMorgan Chase dataset</h1>
    <h1>Cindy Dao, ITDS Department, University of North Texas</h1>
    <h1>Advisor: Prof. Sameh Shamroukh</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div>
        <label for="Sender_Type">Select type of Sender: </label>
          <select name="Sender_Type">
            <option>jpmc client</option>
            <option>client</option>
            <option>company</option>
            <option>jpmc company</option>
            <option>bill company</option>
          </select>
      </div><br>
        <div>
          <label for="countries">Select Country Where Money is Transferred From:</label>
          <select id="countries" name="Sender_Country">
            <option value="usa">usa</option>
            <option value="canada">canada</option>
            <option value="germany">germany</option>
            <option value="mozambique">mozambique</option>
            <option value="el_salvador">el_salvador</option>
            <option value="guam">guam</option>
            <option value="south_sudan">south_sudan</option>
            <option value="italy">Italy</option>
            <option value="sao_tome_principe">sao_tome_principe</option>
            <option value="liechtenstein">liechtenstein</option>
            <option value="thailand">thailand</option>
            <option value="french_guiana">french_guiana</option>
            <option value="kuwait">kuwait</option>
            <option value="mauritania">mauritania</option>
            <option value="jamaika">jamaica</option>
            <option value="georgia">georgia</option>
            <option value="other">other</option>
          </select>
        </div><br>
      <div>
        <label for="bene_type">Select type of beneficiary: </label>
        <select name ="Bene_Type">
          <option>jpmc client</option>
          <option>client</option>
          <option>company</option>
          <option>jpmc company</option>
          <option>bill company</option>
        </select>
      </div><br>
      <div>
        <label for="bene_countries">Select Country Where Money is Transferred To:</label>
        <select name="Bene_Country">
          <option value="usa">usa</option>
          <option value="canada">canada</option>
          <option value="germany">germany</option>
          <option value="brazil">brazil</option>
          <option value="south sudan">south Sudan</option>
          <option value="mozambique">mozambique</option>
          <option value="moldova">moldova</option>
          <option value="cocos keeling is">cocos keeling is</option>
          <option value="macau">macau</option>
          <option value="gambia">gambia</option>
          <option value="cayman islands">cayman islands</option>
          <option value="russian">russian</option>
          <option value="uruguay">uruguay</option>
          <option value="jamaica">jamaica</option>
          <option value="bulgaria">bulgaria</option>
          <option value="french polynesia">french polynesia</option>
          <option value="other">other</option>
        </select>
      </div><br>
      <div>
        <label>Enter Amount of USD being transfered</label>
        <input type="text" name="USD_Amount" placeholder="USD_Amount" required="required" /><br>
        <p>Enter number in term of dollars. Note: no $ or any symbols, only numbers. Ex: 30000, 100, 200</p>
      </div>
      
      <div>
        <label>Select Type of Transaction: </label>
        <select name = "Transaction_Type">
          <option>quick payment</option>
          <option>make payment</option>
          <option>pay check</option>
          <option>move fund</option>
          <option>deposit cash</option>
          <option>exchange</option>
          <option>withdrawal</option>
          <option>deposit check</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        
    </form>

   <br>
   <br>

</div>
{{prediction_text}}
<p>Note: Fail to enter the EXACT values above might result in inaccurate result.</p>
</body>
</html>