<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Predict the Financial Transaction Fraud Based on JPMorgan Chase dataset</h1>
    <h1>Cindy Dao, ITDS Department, University of North Texas</h1>
    <h1>Advisor: Prof. Sameh Shamroukh</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Sender_Type" placeholder="Sender_Type" required="required" /><br> 
      <p>Enter EXACT one of the following sennder type. It is the type of sender's card.</p> 
      <p>Ex: jpmc client, client, company, jpmc company, bill company.</p>
    	<input type="text" name="Sender_Country" placeholder="Sender_Country" required="required" /><br> 
      <p>Enter EXACT one of the countries below. If there are no countries found, enter "other" </p>
      <p>Ex: usa, canada, germany, mozambique, el salvador, guam, south sudan, italy, sao tome principe, liechtenstein, thailand, french guiana, kuwait, mauritania, jamaika, georgia</p>
        <input type="text" name="Bene_Type" placeholder="Bene_Type" required="required" /><br>
        <p>Enter EXACT one of the following bene types. It is the type of bene's card.</p> 
        <p>Ex: jpmc client, client, company, jpmc company, bill company.</p> 
        <input type="text" name="Bene_Country" placeholder="Bene_Country" required="required" /><br>
        <p>Enter EXACT one of the countries below. If there are no countries found, enter "other" </p>
        <p>usa, canada, germany, brazil, south sudan, mozambique, moldova, cocos keeling is, macau, gambia, cayman islands, russian, uruguay, jamaica, bulgaria, french polynesia</p>
        <input type="text" name="USD_Amount" placeholder="USD_Amount" required="required" /><br>
        <p>Enter number in term of dollars. Note: no $ or any symbols, only numbers. Ex: 30000, 100, 200</p>
        <input type="text" name="Transaction_Type" placeholder="Transaction_Type" required="required" /><br>
        <p>Enter EXACT one of the following transaction types: quick payment, make payment, pay check, move fund, deposit cash, withdrawal, exchange, deposit check</p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <p>Note: Fail to enter the EXACT values above might result in inaccurate result.</p>
    </form>

   <br>
   <br>

</div>
{{prediction_text}}

</body>
</html>